.headshotimg {
border: 10px solid aliceblue;
}
.projectimg {
    height: 600px;
    width: 400px;
}
.blackkeys {
    height: 600px;
    width: 400px;
}
.preworkimg {
    height: 600px;
    width: 400px;
}