/** {
    margin: 0;
    padding: 0;
}*/
body {
    background: url(https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8YmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=700&q=60);
    background-repeat: none;
    background-size: cover;
}
.headshotimg {
border: 10px  solid aliceblue;
margin: 10px;
}

.projectimg {
    height: 600px;
    width: 400px;
}
.blackkeys {
    height: 600px;
    width: 400px;
}
.preworkimg {
    height: 600px;
    width: 400px;
}
