
/* Universal selector to add border*/
* {
    box-sizing: border-box;
}
/*Applies to each html file*/
body {
    background: url(https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8YmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=700&q=60);
    background-repeat: none;
    background-size: cover;
}
/*Added a border to headshot image on home page*/
.headshotimg {
border: 10px  solid aliceblue;
margin: 10px;
}
/*Start styling for footer*/
/*Style the social media icons*/
li
{
  list-style-type: none;
  margin-left: 1vw;
}

li:first-child
{
  margin:0;
}
/*Styles footer padding from bottom of the page*/
footer
{
  padding-top: 12vh;
  padding-bottom: 5vh;
}
/*Styles position of copyright text and logo*/
.copyright  
{
  text-align: center;
}

.logo
{
  height: 8vh;
}
/*Styles repsonsiveness of footer and icons*/
@media (max-width: 768px) 
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }
  /*Styles social media icons*/
  .sozial
  {
    margin-bottom: 1vh;
  }
}
